#light-toggle {
    display: none;
}

#dark-toggle:hover {
    color: rgb(248, 244, 28);
}

#light-toggle:hover {
    color: rgb(248, 244, 28);
}

html.dark-mode body {
    color: rgba(255, 255, 255, 0.75);
    background-color: var(--color-base);
}

html.dark-mode .gh-card-content {
    background: var(--color-dark-card);
}

html.dark-mode .gh-card-box > strong {
    opacity: 1;
}

html.dark-mode .gh-card-box > strong:hover {
    color: var(--color-highlight);
}

html.dark-mode .gh-head {
    background: var(--color-dark-card);
}
